[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/haskellmode-vim"]
	path = vim/bundle/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/sparkup"]
	path = vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule "vim/bundle/ragtag"]
	path = vim/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/ZoomWin"]
	path = vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/tmux"]
	path = vim/bundle/tmux
	url = https://github.com/tsaleh/vim-tmux.git
[submodule "vim/bundle/vividchalk"]
	path = vim/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/blackboard"]
	path = vim/bundle/blackboard
	url = https://github.com/nelstrom/vim-blackboard.git
[submodule "vim/bundle/vimroom"]
	path = vim/bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/vcscommand"]
	path = vim/bundle/vcscommand
	url = https://github.com/harleypig/vcscommand.vim.git
[submodule "vim/bundle/preview-markdown"]
	path = vim/bundle/preview-markdown
	url = https://github.com/greyblake/vim-preview.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/html-template-syntax"]
	path = vim/bundle/html-template-syntax
	url = https://github.com/pbrisbin/html-template-syntax.git
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/bundle/buffergator"]
	path = vim/bundle/buffergator
	url = git://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vim/bundle/colorschemes"]
	path = vim/bundle/colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/kwbd"]
	path = vim/bundle/kwbd
	url = https://github.com/rgarver/Kwbd.vim.git
[submodule "vim/bundle/rename2"]
	path = vim/bundle/rename2
	url = https://github.com/vim-scripts/Rename2.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/ghcmod"]
	path = vim/bundle/ghcmod
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule "vim/bundle/unite"]
	path = vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/easygrep"]
	path = vim/bundle/easygrep
	url = https://github.com/vim-scripts/EasyGrep.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/jade"]
	path = vim/bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/stylus"]
	path = vim/bundle/stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/bundle/snipmate-shouldjs"]
	path = vim/bundle/snipmate-shouldjs
	url = https://github.com/mmozuras/snipmate-shouldjs.git
[submodule "vim/bundle/handlebars"]
	path = vim/bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/easytags"]
	path = vim/bundle/easytags
	url = git://github.com/xolox/vim-easytags.git
[submodule "vim/bundle/clang"]
	path = vim/bundle/clang
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = https://github.com/epmatsw/ag.vim.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/scala"]
	path = vim/bundle/scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/slime"]
	path = vim/bundle/slime
	url = git://github.com/thlorenz/vim-slime.git
[submodule "vim/bundle/browser-reload"]
	path = vim/bundle/browser-reload
	url = https://github.com/tell-k/vim-browsereload-mac.git
[submodule "vim/bundle/gist"]
	path = vim/bundle/gist
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/bundle/webapi"]
	path = vim/bundle/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/bundle/dockerfile"]
	path = vim/bundle/dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
