'use strict';

var stream = require('readable-stream');
var util = require('util');

var Readable = stream.Readable;

module.exports = $1Readable;

util.inherits(${1:Name}Readable, Readable);

var proto = $1Readable.prototype;

function $1Readable (opts) {
  if (!(this instanceof $1Readable)) return new $1Readable(opts);

  opts = opts || {};
	${2}
  Readable.call(this, opts);
}

proto._read = function () {
	${3}
}
