'use strict';

var stream = require('stream');
var util = require('util');

var Writable = stream.Writable;

module.exports = $1Writable;

util.inherits(${1:Name}Writable, Writable);

function $1Writable (opts) {
  if (!(this instanceof $1Writable)) return new $1Writable(opts);

  opts = opts || {};
	${2}
  Writable.call(this, opts);
}

$1Writable.prototype._write = function (chunk, encoding, cb) {
	${3}
};
