snippet ecx
	Establish ${1:mainContext} = () =>
	{
		${2}
	}; 

snippet bof
	Because of = () => ${1}

snippet sbj
	[Subject(typeof(${0:`expand("%:t:r")[0 :stridx(expand("%:t:r"), "Spec") -1]`}))]
	public class ${1:when} : ${2:`expand("%:t:r")`}
	{
		${3:ecx}
	}
